<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>WordPress Plugin Boilerplate Powered</title>
        <link rel="icon" type="image/png" href="images/favicon.png" />
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|VT323" rel="stylesheet">

        <!--Core CSS -->
        <link rel="stylesheet" href="{{root}}css/bulma.css">
        <link rel="stylesheet" href="{{root}}css/core.css">
        <!--Libraries-->
        <link rel="stylesheet" href="{{root}}css/aos.css">

    </head>
    <body>
        {{> pageloader}}
        {{> body}}
        {{> footer}}
        {{> scripts}}
    </body>  
</html>
